In [1]:
# Basic Python  Practice
# Author: HJ

#1.Print statement
print("Hello,Data Science World!")

Hello,Data Science World!

In [2]:
#2. Variables
name="HJ"
age=22
print("My name is", name,"and i am ", age, "years old.")

My name is HJ and i am  22 years old.

In [4]:
#3. Data Types
x = 10         #integer
y = 3.5        #float
z = "python"   #string
print(type(x), type(y),type(z))

<class 'int'> <class 'float'> <class 'str'>

In [5]:
#4 lists
numbers = [10,20,30,40,50]
print("Numbers:", numbers)
print("First element:",numbers[0])

Numbers: [10, 20, 30, 40, 50]
First element: 10

In [6]:
#5. Loops
for i in numbers:
       print("Value:",i)

Value: 10
Value: 20
Value: 30
Value: 40
Value: 50

In [18]:
#6. Functions
def square(n):
    return n  *  n
    
print("Square of 5:",square(5))

Square of 5: 25

In [22]:
#7. Dictionary
student= {"name": "HJ","age": 22,"course": "Data Science"}
print(student["name"],  "is learining",student["course"])

HJ is learining Data Science